.review {
    background-color: rgb(227, 225, 225);
    padding: 10px;
    width: 75%;
    margin: 0 auto;
}

h1, h2, h3 {
    text-align: center;
}

.review-details {
    margin: 0 auto;
}

.review p {
    line-height: 150%;
}